html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Pitch Sans", "Courier New", Courier, monospace;
}

body{
    margin: auto;
    background-color: #f5f4f0;
}

#general-wrapper{
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: relative;
    width: 100vw;
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(0,129,73);
    background-color: #030303;
}

nav button{
    color: rgb(0,129,73);
    background-color: 030303;
}

main{
    overflow-y: scroll;
    min-height: calc(100%-100px);
    height: 80vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#welcome{
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

#welcome div{
    display: flex;
    flex-direction: column;
}

#hard{
    margin-bottom: 30px;
}

#profile-first-row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.together-info{
    display: flex;

}

.together-info span{
    align-self: center;
    padding-right: 10px;
    padding-left: 10px;
}

img{
    max-width: 200px;
    max-height: 200px;
}

.yep{
    max-width: 200px;
    max-height: 200px;
}

.profile-img{
    max-width: 200px;
    max-height: 200px;
}

/* #nav-img{
    padding-left: 0;
    max-width: 40px;
    max-height: 40px;
} */

#img-btn{
    border: none;
    padding: 0;
    background-color:  #030303;
}

.nav-img{

    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
    border: 2px solid  rgb(0,129,73);
}

#to-stick{
    overflow: hidden;
}

.sticky{
    position: sticky;
    top: 0px;
    margin-left: 100px;
    width: 100%;
}

#galery{
    display: grid;
    grid-template-columns: auto auto auto;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

/* #profile-settings form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

section form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hide-me{
    display: none !important;
}

.red-me{
    color: red;
}