html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

body{
    margin: auto;
}

#general-wrapper{
    margin: 0 auto;
    height: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
}

nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#upper-nav{
    position: fixed;
    top: 0;
}

#down-nav{
    position: fixed;
    bottom: 0;
}

main{
    overflow-y: scroll;
    /* min-height: calc(100%-100px);
    max-height: calc(100%-100px); */
    height: calc(100%-100px) !important;
}

.hide-me{
    display: none;
}