html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Pitch Sans", "Courier New", Courier, monospace;
}

body{
    margin: auto;
    background-color: #f5f4f0;
}

#general-wrapper{
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: relative;
    width: 100vw;
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(0,129,73);
    background-color: #030303;
}

nav button{
    color: rgb(0,129,73);
    background-color: 030303;
}

main{
    overflow-y: scroll;
    min-height: calc(100%-100px);
    height: 80vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profile-first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 50px;
    max-height: 50px;
}

#to-stick{
    overflow: hidden;
}

.sticky{
    position: sticky;
    top: 0px;
    margin-left: 100px;
    width: 100%;
}

#galery{
    display: grid;
    grid-template-columns: auto auto auto;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

/* #profile-settings form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

section form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hide-me{
    display: none !important;
}